<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Google Charts Example - Spring Boot</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="btn btn-outline-info my-2 my-sm-0"><a class="dropdown-item" th:href="@{|/logout|}">Sign Out</a></button>
</nav>

<div align="center" style="width: 1000px;">
    <h2>Graficos Encuesta</h2>
    <div id="questionOne_chart"></div>
    <div id="questionTwo_chart"></div>
    <div id="questionThree_chart"></div>
</div>
</div>
<script th:inline="javascript">
        var question_one = /*[[${questionOne}]]*/'noValue';
        var question_two = /*[[${questionTwo}]]*/'noValue';
        var question_three = /*[[${questionThree}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(questionOneChart);
            google.charts.setOnLoadCallback(questionTwoChart);
            google.charts.setOnLoadCallback(questionThreeChart);
        });

        function questionOneChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Opcion');
            data.addColumn('number', 'CantidadDeSeleccionOpcion');
            Object.keys(question_one).forEach(function(key) {
                data.addRow([ key, question_one[key] ]);
            });
            var options = {
                title : 'Valoracion Pregunta 1',
                hAxis : {
                    title : 'valor',
                },
                vAxis : {
                    title : 'cantidad votos'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('questionOne_chart'));
            chart.draw(data, options);
        }

        function questionTwoChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Opcion');
            data.addColumn('number', 'CantidadDeSeleccionOpcion');
            Object.keys(question_two).forEach(function(key) {
                data.addRow([ key, question_two[key] ]);
            });
            var options = {
                title : 'Valoracion Pregunta 2',
                hAxis : {
                    title : 'valor',
                },
                vAxis : {
                    title : 'cantidad votos'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('questionTwo_chart'));
            chart.draw(data, options);
        }

        function questionThreeChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Opcion');
            data.addColumn('number', 'CantidadDeSeleccionOpcion');
            Object.keys(question_three).forEach(function(key) {
                data.addRow([ key, question_three[key] ]);
            });
            var options = {
                title : 'Valoracion Pregunta 3',
                hAxis : {
                    title : 'valor',
                },
                vAxis : {
                    title : 'cantidad votos'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('questionThree_chart'));
            chart.draw(data, options);
        }

    </script>

<div style="margin:10%; margin-top:2%">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><strong>COMENTARIOS</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${questionFour}">
            <th th:text="${comment}"></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>